body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

.greeting-container {
    text-align: center;
}

#greeting {
    font-size: 150px;
    color: #ff9800;
    opacity: 0;
    transform: scale(0);
    animation: fadeInScale 2s ease-in-out forwards;
}

/* Animation */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
